header{
    background-color: black;
    border-bottom: solid darkgreen 5px;
    margin: 10px;
}
h1{
    color: antiquewhite;
}
footer{
    font-family: Nobile;
    color: black;
    font-size: medium;
    /*background: linear-gradient(-45deg, lightgreen, darkgreen, lightgreen);*/
    background-color: white;
    border-top: 3px solid darkgreen;
    border-bottom: 3px solid darkgreen;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 5px;
    padding-bottom: 20px;
}
footer p{
    text-align: center;
    padding: 10px;
}
