*{
    margin:0;
    padding: 0;
    border:0
}
@font-face {
    font-family: "Nobile";
    src: url(../fonts/Nobile-Regular.ttf);
}
@font-face{
    font-family: "NobileBold";
    src: url(../fonts/Nobile-Bold.ttf);
}
@font-face{
    font-family: "NobileItalic";
    src: url(../fonts/Nobile-Italic.ttf);
}
@font-face{
    font-family: "NobileMedium";
    src: url(../fonts/Nobile-Medium.ttf);
}
.container{
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
    "diauno diauno diauno"
    "diados diados diados"
    "footer footer footer";
}
.encabezado{
    grid-area: header;
    background-color: black;
    color: floralwhite;
    padding: 10px;
    border-bottom: solid 5px green;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.uno{
    grid-area: diauno;
    background-color: honeydew;
}
.dos{
    grid-area: diados;
}
.dia{
    background-color: honeydew;
    color: darkgreen;
    font-family: Nobile;
    display: flex;
    flex-flow: column wrap;
}
.titulo{
    font-family: NobileItalic;
    color: black;
    align-self: flex-start;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: solid darkgreen 5px;
    margin-bottom: 10px;
}
.fecha{
    transform: translate(200px, -35px);
    color: darkgreen;
    font-family: NobileBold;
}
.wods{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 10px;
    padding: 5px;
    list-style-type: none;
}
.wods li{
    font-family: NobileMedium;
    padding: 5px;
}

.ejercicios{
    font-family: Nobile;
    font-size: small;
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
}
.ejercicios li{
    font-family: NobileItalic;
    font-size: medium;
    text-align: justify;

}

footer{
    grid-area: footer;
    font-family: Nobile;
    color: floralwhite;
    font-size: medium;
    background-color: darkgreen;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 5px;
    padding-bottom: 20px;
}

footer p{
    text-align: center;
    padding: 10px;
}

.enlaces {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 6px;
    text-decoration: none;
    border: solid black 1px;
}
}
@media  screen and (min-width:768px) {

}