header{
    border-bottom: solid darkgreen 2px;
    border-top: solid black 2px;
}
footer{
    border-top: solid 2px darkgreen;
}
footer p{
    text-align: center;
}
/*Trabajo de animacion para el titulo*/



/*Agregando pseudoclases */
.boton:hover{
    background-color: green;
    font-size: large;
}
/*Me gustaria agregar una animacion a esta pages pero la verdad no se me ocurre algo que quede bien con el diseño*/
.animacion{
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-duration: 3s;
}
/*Podria usar el keyframe para tener un slide in en el titulo pero quedaba feo y lo borre*/
/* era un from width 100% y margin left 100 a un width 300 y margin left 300*/