/*Colores para el index*/
$bg-principal: azure;
$bg-secundario: black;
$border: darkgreen solid 5px;
$bg-social: lightgray;
$color-registration: green;
$bg-registration: lightgreen;
$color-footer: white;
$bg-gradient: linear-gradient(-45deg, lightgreen, darkgreen, lightgreen);

/*Colores para la clasificacion*/
